* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Defining CSS variables */

:root {
  --side-bg-color: #121212fc;
  --top-bg-color: linear-gradient(to right, rgb(144, 139, 139), rgb(12, 0, 0));
  --front-bg-color: rgb(67, 67, 67);
  --hover-bg-color: rgb(74, 105, 143);
  --hover-border-color: rgba(100, 189, 252, 0.205);
  --number-items: 6;
  --menu-border: 0.4px solid var(--hover-border-color);
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #252839;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

h2 {
  position: relative;
  color: #252839;
  font-size: 8vw;
  -webkit-text-stroke: 0.3vw #1e3cb3;
  text-transform: uppercase;
}

h2::before {
  position: absolute;
  top: 0;
  left: 0;
  color: #01fe87;
  content: attr(data-text);
  width: 100%;
  height: 100%;
  -webkit-text-stroke: 0vw #1e3cb3;
  border-right: 2px solid #1e3cb3;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  animation: divaneRole 10s linear 0.5s infinite;
}

@keyframes divaneRole {
  0%,
  100% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
}

main {
}

.threeD-menu {
  background-color: grey;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 70vh;
  width: 100vw;
  color: rgb(208, 205, 205);
  text-transform: uppercase;
}

.item-container0 {
  position: relative;
  z-index: var(--number-items);
}

.item-container0:hover {
  animation: animateMenu 0.5s ease-in-out 0.1s forwards;
  cursor: pointer;
}

@keyframes animateMenu {
  0% {
  }
  50% {
    /* transform: translateX(0); */
    transform: translate(-50px, 2.3px);
  }
  100% {
    transform: translate(-30px, 1px);
  }
}

/* Backview */

.frontview {
  position: absolute;
  top: -1px;
  left: 0;
  height: 35px;
  width: 200px;
  transform: skewY(-5deg);
}

/* The ::before preselector is used to display the Frontview */

.frontview::before {
  content: var(--title);
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25.9px, 23.2px);
  background-color: var(--front-bg-color);
  border-right: none;
  height: 35.9px;
  width: 189.9px;

  z-index: var(--number-items);
}

:is(
    .item-container0:hover,
    .item-container1:hover,
    .item-container2:hover,
    .item-container3:hover,
    .item-container4:hover,
    .item-container5:hover
  )
  .frontview::before {
  background-color: var(--hover-bg-color);
  border-right: var(--menu-border);
}

:is(
    .item-container0:hover,
    .item-container1:hover,
    .item-container2:hover,
    .item-container3:hover,
    .item-container4:hover,
    .item-container5:hover
  )
  .sideview {
  background-color: var(--hover-bg-color);
  border: var(--menu-border);
}

:is(
    .item-container0:hover,
    .item-container1:hover,
    .item-container2:hover,
    .item-container3:hover,
    .item-container4:hover,
    .item-container5:hover
  )
  .topview {
  background: var(--hover-bg-color);
  border: var(--menu-border);
}

/* Top view */
.topview {
  position: absolute;
  height: 21.8px;
  width: 200px;
  border: var(--menu-border);
  background: var(--top-bg-color);
  transform: skew(50deg, -5deg) translate(13.9px, -0.5px);
}

/* Displays the bottom of each item */
.topview::after {
  content: "";
  position: absolute;
  height: 21.5px;
  width: 197px;
  transform: translate(-38px, 30px);
}

.sideview {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 35.8px;
  border: var(--menu-border);
  background-color: var(--side-bg-color);
  border-top: none;
  border-bottom: none;
  transform: skewY(40deg) translateY(17.8px);
  z-index: 10;
}

/* Item container 1 */

.item-container1 {
  position: relative;
  top: 34.5px;
  z-index: calc(var(--number-items) - 1);
}

.item-container1:hover {
  animation: animateMenu 0.5s ease-in-out 0.1s forwards;
  cursor: pointer;
}

.item-container2 {
  position: relative;
  top: 69px;
  z-index: calc(var(--number-items) - 2);
}

.item-container2:hover {
  animation: animateMenu 0.5s ease-in-out 0.1s forwards;
  cursor: pointer;
}

.item-container3 {
  position: relative;
  top: 103px;
  z-index: calc(var(--number-items) - 3);
}

.item-container3:hover {
  animation: animateMenu 0.5s ease-in-out 0.1s forwards;
  cursor: pointer;
}

.item-container4 {
  position: relative;
  top: 137.5px;
  z-index: calc(var(--number-items) - 4);
}

.item-container4:hover {
  animation: animateMenu 0.5s ease-in-out 0.1s forwards;
  cursor: pointer;
}

.item-container5 {
  position: relative;
  top: 173px;
  z-index: calc(var(--number-items) - 5);
}

.item-container5:hover {
  animation: animateMenu 0.5s ease-in-out 0.1s forwards;
  cursor: pointer;
  z-index: calc(var(--number-items) - 6);
}
